<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- define BookRepository -->
    <bean id="bookRepository" class="com.libraryy.repository.BookRepository"/>

    <!-- define BookService and inject BookRepository -->
    <bean id="bookService" class="com.libraryy.service.BookService">
        <property name="bookRepository" ref="bookRepository"/>
    </bean>

</beans>
